@{
    ViewData["Title"] = "Bio Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my Bio Page</h1>
</div>

<div class="text-center">
    <p>Hello, my name is Jorge Cotillo, I am a Software Engineer in a company located in Redmond, Washington, have two daughters and puppy</p>
    <p>My wife and I are from Lima, Peru and we came to the US in 2012</p>
    <br/>
    <br/>
    <p>Here is an image from Lima, Peru</p>
    <br/>
    <br/>
    <img src="https://i.pinimg.com/originals/76/d5/0a/76d50aa5c77a5497fd3db5c3ad8e3f2f.png"/>
</div>
